
body.dark-theme {
    background-color: #ffffff;
    color: white;
  }

  .jumbotron {
    background-image: url('../assets/banner.jpg'); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 400vh;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  